# Nextflow working directory
work/
.nextflow*
.cache/
timeline.html
report.html
dag.svg

# Results shouldn't be tracked
results/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Editor files
.vscode/
.idea/

# Conda & mamba environments
.env/
*.sif
*.img

# -----------------------------
# Large data & references
# -----------------------------
testdata/
reference/

# Genome & annotation
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.gtf
*.gtf.gz
*.gff
*.gff3

# STAR indices
*/star/
*.Genome
*.SA
*.SAindex

# FASTQ / BAM
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai

# SRA toolkit
*.sra

# logs
ops/logs/

# notebooks
.ipynb_checkpoints/
*.ipynb