params {
    outdir = "results"
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'cpu'   // change later if needed
        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '4h'
    }
}
