params {
    contam_index = "/path/to/rrna_bt2_index"
    star_index   = "/path/to/star_index"
    outdir = "results"
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'cpu'   // change later if needed
        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '4h'
    }

    test {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
        process.time = '1h'

        // Enable conda (or docker/singularity depending on your environment)
        conda.enabled = true
        // singularity.enabled = true
        // docker.enabled = true

        params.outdir = "results_test"
    }
}
