params {
    enable_umi            = false

    // umi_tools extract parameters
    umi_extract_method    = "regex"

    // DEFAULT: simple 8nt 5' UMI
    // Equivalent to --bc-pattern NNNNNNNN
    umi_bc_pattern        = '^(?P<umi_1>.{8}).+$'

    adapter_sequence = null

    // Bowtie2 contaminant index *prefix*
    contam_index = "/data/holwm/home/gaolong/projects/RiboSuite/reference/human/GRCh38/contam/bowtie2_idx/human_contam"

    // STAR genome index directory
    star_index   = "/data/holwm/home/gaolong/projects/RiboSuite/reference/human/GRCh38/star"

    metagene_window = 50
    metagene_max_tx_per_gene = 1

    outdir = "results"
}

profiles {

    standard {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '8 GB'
    }

    conda {
        conda.enabled = true
    }

    pbs {
        process.executor = 'local'
        process.cpus     = 8
        process.memory   = '40 GB'
        process.time     = '12h'
    }

    test {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
        process.time = '1h'
        conda.enabled = true
        params.outdir = "results_test"
    }
}
